# ------------------------
# Java & Spring Boot
# ------------------------
*.class
*.jar
*.war
*.ear

# Spring Boot
**/target/
**/build/

# ------------------------
# Maven
# ------------------------
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# ------------------------
# Gradle
# ------------------------
.gradle/
build/
!gradle-wrapper.jar
gradle-wrapper.properties

# ------------------------
# IDEs and Editors
# ------------------------
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/

# ------------------------
# Logs and runtime files
# ------------------------
*.log
logs/
hs_err_pid*
replay_pid*

# ------------------------
# Environment variables
# ------------------------
*.env
.env.local

# ------------------------
# OS-Specific
# ------------------------
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# ------------------------
# Others
# ------------------------
# Temporary files
*.tmp
*.swp
*.swo

# Docker
docker-compose.override.yml
